@import "colors.css/src/colors.css";

@custom-media --small (min-width: 768px);
@custom-media --medium (min-width: 1024px);
@custom-media --large (min-width: 1280px);

:root {
  font-family: system-ui;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: var(--silver);
  size: 100% 80px;
  padding: 10px 12px;
  box-shadow: 0 0 8px rbga(0, 0, 0, 0.3);
}
